body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h4 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.main-container {
  /* background-color: #dacffcff; */
}

.flex-container {
  margin: 30px 20px;
}

.card {
  padding: 1rem;
  border-radius: 0.75rem;
  margin-bottom: 2rem;
}

.five-star {
  background-color: #7650dcff;
  text-align: center;
}
.five-star h2 {
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
  color: white;
  font-weight: 500;
}
.five-star p {
  color: #dacffcff;
  font-size: 18px;
}
.five-star .break {
  color: #ffcb6bff;
  white-space: pre;
}
.five-star img {
  max-width: 150px;
}

.multiple-platform {
  box-shadow: 0px 6px 30px #e5e5e5;
}
.multiple-platform img {
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 6px 30px #e5e5e5;
}
.multiple-platform h4 {
  margin: 15px 0px 10px;
}

.consistent-schedule {
  background-color: #ffcb6bff;
}
.consistent-schedule h4 {
  margin: 0 0 15px;
  line-height: 1.5rem;
}
.consistent-schedule {
  padding-bottom: 0;
  /* position: relative; */
}
.consistent-schedule img {
  max-width: 200px;
  position: relative;
  bottom: -5px;
}
