body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h4 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 26px;
}

.grid-container {
  margin: 30px 20px;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "social"
    "manage"
    "maintain"
    "schedule"
    "grow"
    "faster"
    "create"
    "write";
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
}

.five-star {
  background-color: #7650dcff;
  text-align: center;
  grid-area: social;
}
.five-star h2 {
  font-family: "DM Sans", sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
  color: white;
  font-weight: 500;
  margin: 23px;
  line-height: 47px;
}
.five-star p {
  color: #dacffcff;
  font-size: 18px;
}
.five-star .break {
  color: #ffcb6bff;
  white-space: pre;
}
.five-star .italic {
  font-style: italic;
}
.five-star img {
  max-width: 150px;
}

.multiple-platform {
  box-shadow: 0px 6px 30px #e5e5e5;
  grid-area: manage;
}
.multiple-platform img {
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 6px 30px #e5e5e5;
}
.multiple-platform h4 {
  margin: 15px 0px 10px;
}

.consistent-schedule {
  background-color: #ffcb6bff;
  grid-area: maintain;
  padding-bottom: 0;
}
.consistent-schedule h4 {
  margin: 0 0 15px;
  line-height: 1.5rem;
}
.consistent-schedule img {
  max-width: 200px;
  position: relative;
  bottom: -5px;
}

.schedule-post {
  background-color: #dad0f3;
  text-align: center;
  grid-area: schedule;
}
.schedule-post h4 {
  margin-top: 10px;
}
.schedule-post img {
  width: 100%;
}
.schedule-post p {
  margin-inline: 25px;
  font-size: 17px;
}

.grow-follower {
  grid-area: grow;
  text-align: center;
  background-color: #7650dcff;
  /* padding-inline: 60px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-inline: 30px; */
}
.grow-follower img {
  width: 100%;
  max-width: 230px;
  justify-self: center;
  margin-inline: auto;
}
.grow-follower h3 {
  color: white;
  padding-inline: 25px;
}

.audience-growth {
  grid-area: faster;
  box-shadow: 0px 6px 30px #e5e5e5;
}
.audience-growth h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 10px 0px 25px;
}
.audience-growth img {
  max-width: 200px;
  margin-top: 10px;
}
.create-post {
  grid-area: create;
  background-color: #fff3e5;
}
.create-post h3 {
  font-weight: 600;
}
.create-post .blue {
  color: #7650dcff;
  font-style: italic;
}
.create-post img {
  max-width: 200px;
  margin-bottom: 20px;
}

.ai-content {
  grid-area: write;
  background-color: #ffcb6bff;
}
.ai-content h3 {
  margin: 10px;
  font-weight: 600;
}
.ai-content img {
  max-width: 230px;
  margin: 25px 0 0px;
}

@media (min-width: 750px) {
  h4 {
    line-height: 25px;
    font-size: 22px;
  }
  h3 {
    font-size: 36px;
    font-weight: 400 !important;
    line-height: 28px;
  }

  .main-container {
    max-width: 1300px;
    margin-inline: auto;
  }
  .card {
    /* padding: 1.75rem 2.75rem 1.75rem 1.75rem; */
  }
  .grid-container {
    /* margin: 30px 20px;
  display: grid;
  gap: 2rem; */
    grid-template-areas:
      "create social social schedule"
      "create social social schedule"
      "create manage maintain schedule"
      "write manage maintain schedule"
      "write faster grow grow";
    /* "manage"
      "maintain"
      "schedule"
      "grow"
      "faster"
      "create"
      "write"; */
  }

  .grow-follower {
    flex-direction: row;
    align-items: center;
  }
  .grow-follower h3 {
    font-size: 30px;
    line-height: 27px;
    text-align: left;
  }

  .schedule-post {
    text-align: left;
  }
  .schedule-post p {
    text-align: left;
    margin-left: 0;
  }
}
