body{
    margin: 0px;
}



.html{
    display: inline-block;
    background-color: #69f3ff;
    width: 60px;
    height: 20px;
    padding: 25px;
    border: 10px solid hotpink;
    margin: 20px;
    /* margin-top: -33px; */
}
img{
    background-color: deepskyblue;
    width: 300px;
    border: 10px solid coral;
    padding: 20px;
    margin: 20px;
}
video{
    width: 480px;
    height: 300px;
}
iframe{
    width: 1080px;
    height: 1080px;
}