div {
  /* position: relative; */
  background-color: chartreuse;
  /* top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px; */
  inset: 50px;
}
ul{
    position: relative;
    background-color: brown;
}
.css-element{
    background-color: aquamarine;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    /* bottom: 5px; */
    /* inset: 5px;  */
}