.box{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.inner-box{
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    top: 50%; /*top bottom left right kaj kore nije parent er width k follow kore */
    left: 50%;
    transform: translate(-50%,-50%); /* translate kaj kore nijer height width er upor.X 50% mane nijer width er 50% dane bame shorbe, and Y 50% mane nijer height er 50% upore niche jabe*/
}