body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
p{
    margin: 0;
}
.parent{
    padding: 10px;
    /* border: 4px solid indianred; */
    /* background-color: indianred; */
    height: 50vh;

    display: flex; /* full container a item gulare block kore inline kore dibe */
    /* justify-content: center; */ /* dane bame center a nibe */
    /* align-items: center; */ /* upore niche center a nibe */



    /* align-items: flex-end; */ /* item gulare niche pathay dibe . start a upore nibe*/
    /* align-items: stretch; */ /* item gulare upor theke niche puratuk space nibe . */
    /* justify-content: space-between; */ /* free space gulare item er majhe distribute kore dibe . evenly use korle charpashe soman vabe vag kore dibe */
    /* flex-direction: row;  */ /* by default ja ase tai e thakbe */
    /* flex-direction: row-reverse;  */ /*content daner ta bame pathaya dbo */
    /* flex-direction: column; */ /* row er ulta . item gula sob block item hoye upore niche hoye jabe pashapashi theke. align justify ek oporer ta kaj korbe */

}
.parent span{
    /* border: 4px solid cadetblue; */
    background-color: cadetblue;

    /* width: 200px; */
    /* height: 300px; */
    /* flex-shrink: 0; */ /* item ja width nibe oitai fixed kore dibe . width komaleo er width kombe na */
    /* flex-grow: 1; */ /* free space ja ase seta o dokhol korbe */
}

.parent p{
    /* border: 4px solid darkkhaki; */
    background-color: darkkhaki;
    width: max-content; /* sob content a ek line a niye width calculate korbe */
    width: 400px;
    /* width: min-content; */
    flex-shrink: 0;
}

.parent a{
    /* border: 4px solid yellowgreen; */
    background-color: yellowgreen;
    /* width: 400px; */
    flex-shrink: 0;

}