*{
    box-sizing: border-box;
}

.parent{
    background-color: crimson;
}

.one{
    background-color: rgb(0, 255, 195);
    color: saddlebrown;
    width: 300px;
    padding: 25px;
    border: 10px solid blue;
    /* box-sizing: border-box; */
}
