/* #html{
    background-color: darkmagenta;
}

#html{
    background-color: crimson;
}

.html{
    background-color: blue;
}

li{
    background-color: green;
    color: aqua;
}
li{
    background-color: orange;
}
li{
    background-color: cornflowerblue;
}

.html{
    background-color: deeppink;
} */