body {
  margin: 6rem;
}
* {
  box-sizing: border-box;
}
div {
  margin-bottom: 5px;
}
.batch {
  border: 2px solid black;
  padding: 10px;
}
.student {
  width: 100%;
  padding: 10px;
}
.name {
  border: 2px solid black;
  padding: 10px;
}
.credit {
  border: 2px solid black;
  padding: 10px;
}
