.container{
    background-color: lightblue;
    display: grid;
    /* grid-template-columns: repeat(4,100px); */

    /* grid-template-columns: repeat( auto-fill , 100px); */
    /* full width k 100px kore vag kore column create korbe */

    grid-template-columns: repeat(auto-fill , minmax(120px, 1fr));
    /* full width er minimum 120px dibe sobaike, then jayga thakle full width ke vag kore sobaike barabe totokkhon porjnto jototkhon abr 120px toiri na hoy, hoilei new column banaya sobaire komaya dibe */

    /* grid-template: repeat(4,100px) / repeat(5,100px); */
    /* shortcut. ager ta row er value porerta column */

    /* grid-template-columns: repeat(5, minmax(80px , 140px)); */
    /* 5 ta column create korbe jar minimum width 80 , max 140px hobe */


    min-height: 60vh;

    /* align-items: center;
    justify-items: center; */
    /* grid eo amra flex er properties er use korte parbo */

    /* grid-auto-flow: column; */
    /* grid gula sob column a vag hobe jar width kono fixed na. */

    /* grid-auto-flow: row dense; */
    /* dense use korle kono column skip kore na, just exchange hoy. */

    /* grid-auto-columns: 100px; */
    /* next joto column create hobe sob gular width auto 100px hiesebe create hobe */

    /* grid-auto-rows: 100px; */
    /* by default row er height er content er height ba container er height er upor nirvor kore. eta use korle row er height 100px fixed hoye jabe */
}

.box{
    color: white;
    font-size: 4rem;
    padding: 1rem;
}
.box-1{
    background-color: brown;

    /* grid-column-start: 3;
    grid-column-end: 5; */
    /* grid-column: 3 /5; */
    /* shortcut */
}
.box-2{
    background-color: darkslategray;
}
.box-3{
    background-color: aqua;
}
.box-4{
    background-color: deeppink;
}
.box-5{
    background-color: blue;
}
.box-6{
    background-color: blueviolet;

    /* align-self: stretch;
    justify-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center; */

}
.box-7{
    background-color: crimson;
}
.box-8{
    background-color: cyan;
}
.box-9{
    background-color: darkorange;
}
.box-10{
    background-color: cornflowerblue;
}
.box-11{
    background-color: dodgerblue;
}
.box-12{
    background-color: forestgreen;
}